@import "tailwindcss";
@plugin "daisyui";
@import "@radix-ui/themes/styles.css";

@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  
  @keyframes marquee-reverse {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
  }
  
  .animate-marquee {
    animation: marquee 25s linear infinite;
  }
  
  .animate-marquee-reverse {
    animation: marquee-reverse 25s linear infinite;
  }

  @layer utilities {
    @keyframes float {
      0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-6px);
      }
    }
  
    .animate-float {
      animation: float 2s ease-in-out infinite; 
      will-change: transform;
    }
  }
  
  
  
  
  